.fondo {
    background-image: url("../img/img-proyect/fondo-a.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 90.7vh;
    display: flex;

}

.sobremi {
    border-radius: 30px;
    background-color: rgb(0, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    max-width: 90%;
    margin: auto;
    margin-top: 180px;
   padding: 8px;
}

.sobremi h3 {
    font-size: 30px;
    margin-bottom: 30px;
    padding: 0;
}



.sobremi p {
    font-weight: 450;
    font-size: 17px;
    
    margin: 0;
}

@media (min-width: 768px) {
    .sobremi {
        padding: 60px;
        max-width: 80%;
    }

    .sobremi h3 {
        font-size: 45px;
    }

    .sobremi p {
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    .sobremi {
        padding: 45px;
        max-width: 60%;
    }

    .sobremi h3 {
        font-size: 30px;
    }

    .sobremi p {
        font-size: 22px;
    }
}

    .sobremi p {
        font-size: 20px;
    }


@media (min-width: 1024px) {
    .sobremi {
        padding: 50px;
        max-width: 60%;
    }

    .sobremi h3 {
        
        font-size: 45px;
    }

    .sobremi p {
        font-size: 22px;
    }
}